<app-header></app-header>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="home-page">
        <div class="slider">

            <div class="slides">
                <div id="slide-1">
                   <div class="carousel-content">
                        <img src="../../assets/flight.jpg" alt="Image of Flight">
                        <p>
                            Book Flights from anywhere anytime!
                        </p>
                   </div>
                </div>
                <div id="slide-2">
                    <div class="carousel-content">
                        <img src="../../assets/send_money.jpg" alt="Image of Flight">
                        <p>
                            Send Money to your loved ones, <br>no matter where they are.
                        </p>
                   </div>
                </div>
                <div id="slide-3">
                    <div class="carousel-content">
                        <img src="../../assets/buy.png" alt="Image of Flight">
                        <p>
                            Buy anything from anywhere
                        </p>
                   </div>
                </div>
                <div id="slide-4">
                    <div class="carousel-content">
                        <img src="../../assets/currency.jpg" alt="Image of Flight">
                        <p>
                           Make a transaction in any part of world, <br>
                           leave the exchange worries to us
                        </p>
                   </div>
                </div>
                <div id="slide-5">
                    <div class="carousel-content">
                        <img src="../../assets/scan.jpg" alt="Image of Flight">
                        <p>
                           Scan QR code at nearby shopes<br>
                           and pay contactlessly.
                        </p>
                   </div>
                </div>
                <div id="slide-6">
                    <div class="carousel-content">
                        <img src="../../assets/offer.jpg" alt="Image of Offers">
                        <p>Offers on multiple deals!</p>
                   </div>
                </div>
            </div>
            <a href="#slide-1">1</a>
            <a href="#slide-2">2</a>
            <a href="#slide-3">3</a>
            <a href="#slide-4">4</a>
            <a href="#slide-5">5</a>
            <a href="#slide-6">6</a>

        </div>


        <div class="content">
            <div class="mobile-wallet">
                <h3>MOBILE WALLET</h3>
                <h1>Payments Made Easy</h1>
                <hr>
                <p class="sub-context">GoPayWallet’s eWallet is a new way to pay friends, family and business associates with an eWallet account.<br>
                     With eWallet, each user can add money by linking a bank account and managing money on their phone 
                     or computer with our eWallet dashboard.</p>
            </div>

            <div class="why-to-choose-go-pay-wallet">
                <div class="first-column">
                    <h1>Send & Receive Funds</h1>
                    <p class="sub-context">GoPayWallet’s eWallet is a limitless tool that enables its users to send money at any time.</p>
                </div>

                <div class="second-column">
                    <h1>Connect with People</h1>
                    <p class="sub-context">Transferring funds to a friend or business associate’s account is quick and secure within a 24 hour period.</p>
                </div>

                <div class="third-column">
                    <h1>Make Purchases</h1>
                    <p class="sub-context">GoPayWallet’s eWallet is a limitless tool that enables its users to transfer money at any time.</p>
                </div>
            </div>

        </div>

        <div class="security">
            <div class="one-component">
                <h3>CONFIDENCE</h3>
                <h1>Unbeatable Security</h1>
                <hr>
                <p class="sub-context">Allied Wallet’s eWallet is a new way to pay friends, family, business associates and anyone <br> else with an eWallet account. With eWallet each user can add money by linking a bank <br>account and managing money on a sleek Allied Wallet prepaid card.</p>
            </div>
           
            <img src="https://www.alliedwallet.com/wp-content/uploads/2018/03/allied-wallet-merchant-prepaid-card.jpg" alt="Card Image">
        </div>

        <div class="currency">
            <h1>Currencies we Deal In</h1>
            <hr>
            <div class="currency1">
                <div id="dollar">
                    <img src="../../assets/dollar.png" alt="Image of dollar">
                </div>
                <div id="canadian-dollar">
                    <img src="../../assets/canadian_dollar.png" alt="Canadian Dollar Image">
                </div>
                <div id="pound">
                    <img src="../../assets/pound.jpg" alt="Image of pound">
                </div>
                <div id="swiss">
                    <img src="../../assets/swiss_.jpg" alt="Image of pound">
                </div>
                <div id="euro">
                    <img src="../../assets/euro.jpg" alt="Image of pound">
                </div>
                <div id="rupee">
                    <img src="../../assets/rupee.jpg" alt="Image of pound">
                </div>
            </div>
        </div>

        
    

    </div>

    <!-- <div class=>
        <img src="https://www.alliedwallet.com/wp-content/uploads/2018/03/allied-wallet-merchant-prepaid-card.jpg" alt="">
    </div>
    -->

    <!-- flickity -->
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
</body>
<app-footer></app-footer>

</html>