<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <div> 
        <mat-toolbar>
            <span>GoPayWallet</span>
            <div class="header-button">
                <button mat-stroked-button id="dashboard"  (click)="dashboard()">Dashboard</button>
                <button mat-stroked-button id="login" (click)="logout()">LogOut</button>
                
            </div>
            
        </mat-toolbar>
    </div>
 

</body>
</html>
