<app-logout-header></app-logout-header>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="example-card">

    <div class="wallet-balance">
      <img src="../../assets/rupee.jpg" alt="Flag Of India" class="flag">
      <h1>Rupee</h1>
      <h3>Balance: {{rupee}}</h3>
    </div>
  
    <div class="wallet-balance">
      <img src="../../assets/pound.jpg" alt="Flag Of India" class="flag">
      <h1>Pound</h1>
      <h3>Balance: {{pound}}</h3>
    </div>
  
    <div class="wallet-balance">
      <img src="../../assets/swiss_.jpg" alt="Flag Of Switzerland" class="flag">
      <h1>Swiss Franc</h1>
      <h3>Balance: {{franc}}</h3>
    </div>
  
    <div class="wallet-balance">
      <img src="../../assets/dollar.png" alt="Flag Of USA" class="flag">
      <h1>US Dollar</h1>
      <h3>Balance: {{usd}}</h3>
    </div>
    <div class="wallet-balance">
      <img src="../../assets/canadian_dollar.png" alt="Flag Of Canada" class="flag">
      <h1>Canadian Dollar</h1>
      <h3>Balance: {{cad}}</h3>
    </div>
    <div class="wallet-balance">
      <img src="../../assets/euro.jpg" alt="Flag Of Germany" class="flag">
      <h1>Euro</h1>
      <h3>Balance: {{euro}}</h3>
    </div>
    
  </div>
 
</body>
</html>

