<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <!-- <div class="footer">
        <div class="register">
            <h4>New to GoPayWallet?</h4>
            <h1>Register Here!</h1>
            <button mat-stroked-button (click)="register()">Register</button>
        </div>

        <div class="contact-us">
            <h3>Contact Us</h3>
            <h4>gopaywallet@yahoo.com</h4>
            <h4>12345-67891</h4>
            <button mat-stroked-button>Contact Support</button>
        </div>
    </div> -->
    <div class="footer">
        <div class="register">
            <h4>New to GoPayWallet?</h4>
            <h1>Register Here!</h1>
            <button mat-stroked-button (click)="register()">Register</button>
            
        </div>
        <div class="contact-us">
            <h3>Contact Us</h3>
            <h4>gopaywallet@yahoo.com</h4>
            <h4>12345-67891</h4>
            <button mat-stroked-button>Contact Support</button>
            <div class="social-media-links">
                <!-- social icons here -->
                <i style="font-size:40px" class="fa">&#xf230;</i>
                <i style="font-size:40px" class="fa">&#xf16a;</i>
                <i style="font-size:40px" class="fa">&#xf232;</i>
                <i style="font-size:40px" class="fa">&#xf099;</i>
                <i style="font-size:40px" class="fa">&#xf2ab;</i>
            </div>
        </div>
    </div>
</body>

</html>